.skills {
  padding: 91px 0 110px;

  &__subtitle {
    margin-top: 69px;
  }

  &__wrapper {
    margin-top: 83px;
    display: flex;
    justify-content: space-between;
    // align-items: center;
  }
}
