.btn {
  display: block;
  margin: 0 auto;

  width: 180.5px;
  height: 42px;
  border: none;
  border-radius: 50px;

  background: var(--Black, #070707);

  color: #fff;

  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  transition: 0.3s;

  &:hover {
    background: #828282;
  }
}

@media (max-width: 591px) {
  .btn {
    width: 316px;
  }
}
