.nav {
  min-height: 88px;

  padding: 33px 0;
  border-bottom: 2px solid #e5e5e5;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    list-style: none;

    color: #828282;
    font-family: Gilroy-Bold;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__link {
    transition: 0.3s;
    &:hover {
      color: var(--Black, #070707);
    }
  }
}

@media (max-width: 591px) {
  .nav {
    display: none;
  }
}
